.contentWrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    // background-color: red;
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
}