@import '../../style/mixins.scss';
$card-height: 100px;

.carousel {
    scroll-behavior: smooth;

    .card {
        background-color: var(--black);
        border: 0;
        color: white;
    }

    // .card-img-top {
    //     height: 225px;
    // }
    img {
        border-radius: 10px;
    }

    .cardWidth {
        width: 8rem;

        @include md {
            width: 9rem;
            // width: 11rem;
        }

    }

    .title {
        font-size: 12px;
        margin-bottom: 10px;
        line-height: 17px;
        @include ellipsis(1);

        @include md {
            font-size: 16px;
        }
    }

    .date {
        font-size: 14px;
        opacity: 0.5;
    }

    .circleRating {
        width: 40px;
        height: 40px;
        position: relative;
        top: -20px;
        left: 10px;
        background-color: white;
        flex-shrink: 0;

        @include md {
            width: 50px;
            height: 50px;
        }
    }
}

.arrow {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
    z-index: 1;
    display: block;

    @include md {
        display: block;
    }

    &:hover {
        opacity: 0.8;
    }
}

.carouselLeftNav {
    left: 30px;
}

.carouselRighttNav {
    right: 20px;
}